#
# Summary
#
#  
#   _express
#   _nodejs
#   _mongo
#
#--- _express ---------------------------------------------------------------------
#
snippet rp request param function
	req.param('${1:paran}')${2}
#
snippet rq requiere a new module
	${1:[name] } = require('${2:$1}')${3:}
#
snippet app app routes
	/**
	 * ${1:get} ${2:[route name] } route
	 */

	app.$1('${3:/}', function(req, res, next){
		${4:}
	});
#
#----------------------------------------------------------------------------------
#
#--- _nodejs ----------------------------------------------------------------------
#
snippet addl add listender
	addListener('${1:event}', function(${2:stream}){
		${3:}
	});
#
#----------------------------------------------------------------------------------
#
#--- _mongo -----------------------------------------------------------------------
#
snippet oid ObjectId() function
	ObjectId("${1:[id] }")${2:}
#----------------------------------------------------------------------------------
