{
  "name": "${1:name}",
  "description": "${2:$1 component}",
  "version": "${3:0.0.1}",
  "keywords": ["${4:$1}"],
  "dependencies": {
    "${5:component/dep}": "${6:*}"
  },
  "scripts": [${7:"index.js"}],
  "styles": ["$1.css"]
}${8:}
