
/**
 * Module dependencies.
 */

var ${3:View} = require('${4:view}')
	, inherit = require('inherit');

/**
 * Expose '${1:component name}'.
 */

module.exports = $1;

/**
 * ${2:component description}
 * @api public
 */

function $1(){
	if (!(this instanceof $1)) return new $1;
	$3.call(this, render('${5:$1 template}'));
	${6:}

	return this;
}

/**
 * Inherits from '$3.prototype'.
 */

inherit($1, $3);
