
/**
 * Module dependencies.
 */

var View = require('view')
	, inherit = require('inherit');

/**
 * Expose '${1:component name}'.
 */

module.exports = $1;

/**
 * ${2:component description}
 * @api public
 */

function $1(){
	if (!(this instanceof $1)) return new $1;
	View.call(this, render('${3:$1 template}'));
	${4:}
}

/**
 * Inherits from 'View.prototype'.
 */

inherit($1, View);
